{% extends 'base.html.twig' %}

{% block title %}Hello, Welcome to Communo API{% endblock %}

{% block body_title %}
    {{ block('title') }}
{% endblock %}

{% block body_content %}
    <div id="root"></div>
{% endblock %}
