$primary: #115b85;
$secondary: #069d91;
$success: #155724;
$info: #0c5460;
$light: #eeeeee;
$orange: #d7753d;
$tertiary: #f25562;
$danger: $tertiary;
$warning: $orange;
// Greys
$light-grey: #f2f4fc;
$grey: #b2b2c9;
$dark: #212529;
$dark-grey: #666688;
$sidebar-grey: #303030;
$white: #ffffff;

